<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>کد اعتبار سنجی</title>
    <style>

        .title, .subtitle {
            font-family: Vazir FD, sans-serif !important;
        }

        .title {
            font-size: 1.75em;
            font-weight: bold;
            color: #4D1DFE;
        }

        .subtitle {
            font-size: 1.25em;
            font-weight: bold;
            color: #212121;
        }

    </style>
</head>
<body>

<h1 class="title">{{subtitle}}</h1>
<h3 class="subtitle">{{code}}</h3>

</body>
</html>